{% extends "base.html" %}

{% block title %}Forgot Password - Job Crawler{% endblock %}

{% block content %}
<form id="forgotPasswordForm" class="form-gen" action="{{ url_for('auth.forgot_password') }}" method="post" novalidate>
    <h2 class="form-title">Forgot Password</h2>
    {{ form.hidden_tag() }}

    <div class="form-group">
        <label for="email">Email address</label>
        {{ form.email(class_="form-input", id="email") }}
        {% if form.email.errors %}
            <div class="form-error">
                {{ form.email.errors[0] }}
            </div>
        {% endif %}
    </div>

    <button type="submit" class="btn">{{ form.submit.label }}</button>
</form>
{% endblock %}
