{% extends "base.html" %}

{% block title %}Privacy Policy | Job Crawler{% endblock %}

{% block content %}
<div class="content-container">
    <h2 class="head-title">Privacy Policy</h2>
    <div class=privacies>
        <p>
            Job Crawler values your privacy. We collect and use personal information, such as your email address, for account management purposes only. We do not share your personal information with third parties without your consent, except as required by law.
        </p>
        <p>
            We use secure encryption methods to protect your data. However, no system is entirely foolproof, and we encourage users to take precautions to protect their accounts.
        </p>
    </div>
</div>
{% endblock %}
